service vendor.keymint-strongbox /odm/bin/hw/android.hardware.security.keymint3-service.strongbox.nxp
    class early_hal
    user root
    group root system
    disabled
    seclabel u:r:recovery:s0
