service secure_element_hal_service /sbin/android.hardware.secure_element-service-goodix-recovery
    class early_hal
    user root
    group root system drmrpc
    setenv LD_LIBRARY_PATH /sbin/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64:/odm/lib64
    setenv TMPDIR /tmp/nezha-goodix
    setenv GOODIX_LOG_PATH /tmp/nezha-goodix/logs
    setenv SE_LOG_PATH /tmp/nezha-goodix/logs
    disabled
    seclabel u:r:recovery:s0
