# Start keystore2 only after annibale-nxp-gate has prepared the NXP/QSEE chain.

service keystore2 /system/bin/keystore2 /tmp/misc/keystore
    class early_hal
    user root
    group keystore readproc log
    interface aidl android.system.keystore2.IKeystoreService/default
    disabled
    writepid /dev/cpuset/foreground/tasks
    seclabel u:r:recovery:s0
